/* 다크모드 스타일 */
html.is-dark .important {
    background-color: #332701;
    border-color: #665201;
    color: #ffc;
}

html.is-dark .important::before {
    color: #ffd866;
}

html.is-dark .tip {
    background-color: #2a2a2a;
    border-color: #404040;
    color: var(--text-color);
}

html.is-dark .tip strong {
    color: #ffffff;
    font-weight: bold;
}

html.is-dark .tip::before {
    color: #ffffff;
}

/* 다크모드 strong */
html.is-dark li strong {
    color: #ffffff !important;
    font-weight: bold;
}

/* 다크모드 code */
html.is-dark pre,
html.is-dark code {
    background-color: #2a2a2a;
    color: #dddddd;
}

/* 다크모드 strong 내부 code */
html.is-dark strong > code {
    background-color: #2a2a2a !important;
    color: #dddddd !important;
}
