/* 다크모드 스타일 */
html.is-dark .important {
    background-color: #332701;
    border-color: #665201;
    color: #ffc;
}

html.is-dark .important::before {
    color: #ffd866;
}

html.is-dark .tip {
    background-color: #2a2a2a;
    border-color: #404040;
    color: var(--text-color);
}

html.is-dark .tip strong {
    color: #ffffff;
    font-weight: bold;
}

html.is-dark .tip::before {
    color: #ffffff;
}

/* 다크모드 strong */
html.is-dark li strong {
    color: #dddddd !important;
    font-weight: bold;
}

html.is-dark strong {
    color: #dddddd !important;
    font-weight: bold;
}

/* 다크모드 code */
html.is-dark pre,
html.is-dark code {
    background-color: #2a2a2a;
    color: #dddddd;
}

/* 다크모드 strong 내부 code */
html.is-dark strong > code {
    background-color: #2a2a2a !important;
    color: #dddddd !important;
}

/* 다크모드에서 li 안의 code 스타일 */
html.is-dark li code {
    background-color: #2a2a2a;  /* 다크모드에 맞는 배경색 */
    color: #dddddd;            /* 다크모드에 맞는 텍스트 색상 */
    padding: 0.2em 0.4em;      /* 기존 padding 유지 */
    border-radius: 3px;        /* 기존 border-radius 유지 */
}

/* 다크모드 blockquote */
html.is-dark blockquote {
    background-color: #2a2a2a !important;
    border-left: 4px solid #404040 !important;
}

html.is-dark blockquote p {
    color: #dddddd !important;
}

html.is-dark blockquote strong {
    color: #ffffff !important;
}

html.is-dark blockquote code {
    background-color: #333333 !important;
    color: #ff9776 !important;
    padding: .1rem .3rem .2rem !important;
    border-radius: .2rem !important;
}
